#
# swiftnbd secrets example file
#

# access credentials for container_name
[container_name]
username = user
password = pass
# optional, otherwise default authurl is used
# authurl = https://hostname/v1.0

