#
# swiftnbd secrets example file
#

# access credentials for container_name
[container_name]
username = user
password = pass

# in case of auth 2.0, with "." as separator use:
# username = TENANT.USERNAME

# DEPRECATED, this will be ignored
# authurl = https://hostname/v1.0

# optional, default is read-write
# read-only = 1

